
// Sass Variables
$body-background: #D8A5FF;
$primary-color: #9103FF;
$accent-color: #845EF3;

// Sass - Button Colors
$button-primary-color: #7C34B3;

html, body, .App {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $body-background;
}
body, .App {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Line Break */
.line-break{
	min-width: 100vw;
	height: 3px;
	background-color: $accent-color;
}

/* App layout */

.flex-container{
	display: flex;
	justify-content: center;
	flex: 1;
	margin: 1em;
}

.flex-item{
	margin: 2em;
	max-width: 50vw;
	min-width: 20vw;
}

.flex-item-filter{
	max-height: 30vh;
}

/* Filter */

.filter-form label{
	padding: 0.2em;
	margin-left: 0.2em;
	display: inline-block;
	min-width: 50px;
}

.filter-form input[type=submit]{
	margin: 2em;
}

/* Movie item */

.movie_item #description{
	max-width: 25vw;
}


/* Header */

.header{
	background-color: $primary-color;
	min-width: 100vw;
}

/* Footer */

.footer{
	min-height: 50px;
	min-width: 100vw;
	background-color: $primary-color;
}

/* Buttons */
.button {
	color: white;
	font-size: 1.2em;
	border-radius: 7px;
	border: 2px solid $accent-color;
	padding: 0.5em;
	transition: 0.3s;
}

.button:hover{
	opacity: 0.8;
	box-shadow:2px 5px 10px $accent-color;

}

.button-primary {
	background-color: $button-primary-color;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media inquiries */

@media screen and (max-width: 1000px){
	.flex-container{
		display: flex;
		justify-content: center;
		flex-direction: column;
		min-width: 100vw;
		min-height: 100vh;
		max-width: 100vw;
		max-height: 100vh;
		margin-top: 10px;
	}

	.flex-item {
		max-width: 100vw;
		min-width: 80vw;
	}

	.flex-item-filter {
		height: 20vh
	}

	.movie_item #description{
		min-width: 50vw;
		max-width: 98vw;
		padding: 2vw;
	}

}
